// Update book form view

extends layout

block content
  h1 Update Book

  //- Display error message if present
  if message
    p.error= message

  //- Book update form
  form(method='POST')
    input(type='hidden', name='_method', value='PUT')
    //- Title field
    p
      label(for='title') Title
      input(type='text', name='title', id='title', value=book.title)
    //- Author field
    p
      label(for='author') Author
      input(type='text', name='author', id='author', value=book.author)
    //- Genre field
    p
      label(for='genre') Genre
      input(type='text', name='genre', id='genre', value=book.genre)
    //- Year field
    p
      label(for='year') Year
      input(type='text', name='year', id='year', value=book.year)

    //- Form buttons
    p
      button(type='submit') Update Book
      a.button(href='/') Cancel
